<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Simple Author{% endblock %}</title>
</head>

<body>
    <div id="nav">
{% block nav %}
        <p><a href="{% url 'home' %}">Home</a>
    {% if user.is_authenticated %}
        - Logged in as <b>{{ user.username }}</b>
        - <a href="{% url 'view_profile' user.author.display_name %}">Profile</a>
        - <a href="{% url 'auth_logout' %}">Logout</a></p>
    {% else %}
        - <a href="accounts/register/">Sign Up</a>
        - <a href="{% url 'auth_login' %}">Log In</a></p>
    {% endif %}
{% endblock %}
    </div>

    <div id="content">
{% block content %}{% endblock %}
    </div>

    <div class="footer">
{% block footer %}
        <p><a href="{% url 'home' %}">Home</a>
{% endblock %}
    </div>
</body>
</html>

