{% extends "base.html" %}

{% block title %}Edit Book{% endblock %}

{% block content%}

<h1>Edit Book</h1>

<p>Editing <strong>{{ book.title }}</strong>
- <a href="{% url 'read_book' book.pk %}">Read</a>
- <a href="{% url 'write_book' book.pk %}">Write</a>
</p>

<hr>

<h2>Chapters</h2>
{% if sections %}
        <ul>
    {% for section in sections %}
            <li>{{ section.order }}. {{ section.name }}
            - <a href="{% url 'edit_section' book.pk section.pk %}">Edit</a>
            - <a href="{% url 'write_section' book.pk section.pk %}">Write</a>
            - <a href="{% url 'read_section' book.pk section.pk %}">Read</a>
            </li>
    {% endfor %}
        </ul>
{% else %}
    <p>No chapters</p>
{% endif %}

<h2>Add a Section</h2>


<form action="{% url 'edit_book' book.pk %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <table id="formset" class="form">
    {% for form in formset.forms %}
      {% if forloop.first %}
      <thead><tr>
        {% for field in form.visible_fields %}
        <th>{{ field.label|capfirst }}</th>
        {% endfor %}
      </tr></thead>
      {% endif %}
      <tr class="{% cycle row1,row2 %}">
      {% for field in form.visible_fields %}
        <td>
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        {% endif %}
          {{ field.errors.as_ul }}
          {{ field }}
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Update Sections" />
</form>

<hr>

{% endblock %}

