{% extends "base.html" %}

{% block title %}Edit Book{% endblock %}

{% block content%}

<h1>Edit Book</h1>

<p>Editing book: {{ book.pk }} {{ book.title }}</p>

<hr>

<p>Front matter</p>

<form action="{% url 'edit_book' book.pk %}" method="post">
    {% csrf_token %}
    {{ front_form }}
    <input type="submit" value="Update Front Matter" />
</form>

<hr>

<p>Chapters</p>
{% if chapters %}
        <ul>
    {% for chapter in chapters %}
            <li>{{ chapter.order }}. {{ chapter.name }} - Edit - Write</li>
    {% endfor %}
        </ul>
{% else %}
    <p>No chapters</p>
    <p><a href="{% url 'new_chapter' book.pk %}">Add Chapter</a></p>
{% endif %}

<hr>

<p>Back matter</p>

<p>Front matter</p>

<form action="{% url 'edit_book' book.pk %}" method="post">
    {% csrf_token %}
    {{ back_form }}
    <input type="submit" value="Update Back Matter" />
</form>

<p><a href="{% url 'home' %}">Home</a></p>

{% endblock %}

