{% extends "base.html" %}

{% block title %}Index.html{% endblock %}

{% block content %}

    <h1>Simple Author</h1>

    <h2>Writing, simply.</h2>

    {% if user.is_authenticated %}

    <p><a href="{% url 'new_book' %}">Add New Book</a></p>

        {% if books %}

        <h3>Your Books</h3>
        <ul>
            {% for book in books %}
                <li><strong>{{ book.title }}</strong>
                  - <a href="{% url 'edit_book' book.id %}">Layout</a>
                  - <a href="{% url 'write_book' book.id %}">Write</a>
                  - <a href="{% url 'read_book' book.id %}">Read</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}

{% endblock %}

