{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content%}

<p><a href="{% url 'home' %}">Home</a></p>

<h1>{{ book.title }}</h1>

<hr>

{% for book_section in sections %}
    {% if book_section.section.location == 'front' %}
        <p><em>{{ book_section.section.name }}</em></p>
        <p>{{ book_section.content }}</p>
        <hr>
    {% endif %}
{% endfor %}

{% for chapter in chapters %}
    <p><em>{{ chapter.name }}</em></p>
    <p>{{ chapter.content }}</p>
    <hr>
{% endfor %}

{% for book_section in sections %}
    {% if book_section.section.location == 'back' %}
        <p><em>{{ book_section.section.name }}</em></p>
        <p>{{ book_section.content }}</p>
        <hr>
    {% endif %}
{% endfor %}

<p><a href="{% url 'home' %}">Home</a></p>

{% endblock %}

