{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content%}

<h1>{{ book.title }}</h1>

<hr>

{% if sections %}
    {% if book.show_toc %}
        <!-- Display TOC -->
        <ul>
        {% for section in sections %}
            <li><a href="{% url 'read_section' book.pk section.pk %}">{{ section.name }}</a></li>
        {% endfor %}
        </ul>

        <hr>
    {% endif %}

    {% for section in sections %}
        <div class="section">
            <p>{{ section.contents }}</p>
        </div>

    {% endfor %}

{% else %}
    <p>Book has no content!</p>
    <p><a href="{% url 'edit_book' book.pk %}">Edit book layout</a></p>
{% endif %}

{% endblock %}

