{% extends "base.html" %}

{% block title %}{{ book.title }} | {{ section.name }}{% endblock %}

{% block content%}

<h1>{{ book.title }}</h1>

<h2>{{ section.name }}</h2>

<p>
{% if previous %}
    <a href="{% url 'read_section' book.pk previous.pk %}">&lt; {{ previous.name }}</a>
{% endif %}
{% if previous and following %} | {% endif %}
{% if following %}
    <a href="{% url 'read_section' book.pk following.pk %}">{{ following.name }} &gt;</a>
{% endif %}
</p>

<hr>

{% if section.display_content %}
    <p>{{ section.display_content|safe|linebreaksbr }}</p>
{% else %}
    <p>{{ section.content }}</p>
{% endif %}

<hr>

<p>
{% if previous %}
    <a href="{% url 'read_section' book.pk previous.pk %}">&lt; {{ previous.name }}</a>
{% endif %}
{% if previous and following %} | {% endif %}
{% if following %}
    <a href="{% url 'read_section' book.pk following.pk %}">{{ following.name }} &gt;</a>
{% endif %}
</p>
{% endblock %}

