{% extends "base.html" %}

{% block title %}{{ book.title }} - {{ section.name }}{% endblock %}

{% block content%}

<h1>{{ book.title }}</h1>

<p>Writing <strong>{{ book.title }}</strong>
- <a href="{% url 'edit_book' book.pk %}">Layout</a>
- <a href="{% url 'read_book' book.pk %}">Read</a>
- <a href="{% url 'write_book' book.pk %}">Write</a>
</p>

<h2>{{ section.name }}</h2>

<p>
{% if previous %}
    &lt; <a href="{% url 'write_section' book.pk previous.pk %}">{{ previous.name }}</a> |
{% endif %}
{% if previous or following %} <b>{{ section.name }}</b> {% endif %}
{% if following %}
     | <a href="{% url 'write_section' book.pk following.pk %}">{{ following.name }}</a> &gt;
{% endif %}
</p>

<hr>

<form action="{% url 'write_section' book.pk section.pk %}" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    <tr>
        <td></td>
        <td><input type="submit" value="Update Content" /></td>
    </tr>
    </table>
</form>


<hr>

{% endblock %}

