{% extends "base.html" %}

{% block title %}Write Book{% endblock %}

{% block content%}

<h1>Write Book</h1>

<p>Writing <strong>{{ book.title }}</strong>
- <a href="{% url 'edit_book' book.pk %}">Layout</a>
- <a href="{% url 'read_book' book.pk %}">Read</a>
</p>

<hr>

{% if sections %}
    <!-- Display TOC -->
    <ul>
    {% for section in sections %}
        <li>
            <a href="{% url 'write_section' book.pk section.pk %}">{{ section.name }}</a>
        </li>
    {% endfor %}
    </ul>

    <hr>

{% else %}
    <p>Book has no content!</p>
    <p><a href="{% url 'edit_book' book.pk %}">Edit book layout</a></p>
{% endif %}
<hr>

<p><a href="{% url 'new_chapter' book.pk %}">Add Chapter</a></p>

{% endblock %}

